<header>
  <div class="container">
    <nav>
      <!-- Logo + Title -->
      <div class="logo-title">
        <img src="images/logo.svg" alt="DAS Logo" class="logo-img" />
        <h1>DAS Consultancy</h1>
      </div>

      <!-- Navigation Links -->
      <ul>
        <li><a href="index.html">Home</a></li>
        <!-- <li><a href="about.html">About</a></li>-->
        <!-- <li><a href="services.html">Services</a></li>-->
        <!-- <li><a href="process.html">Process</a></li>-->
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
